<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Road Runners Bus Lines</title>
	<link rel="stylesheet" type="text/css" href="css\schedulestyle.css">
	<link rel="stylesheet" type="text/css" href="css\style.css">
	<link rel="icon" type="images/x-icon" href="images\logo2.png" />  
</head>
<body>
    <header>
		<ul class="menu">
		    <li><img src="images\logo.png"></li>
			<li><a href="home">Home</a></li>
			<li><a class="active" href="schedule">Schedule</a></li>
			<li><a href="book">Book</a></li>
			<li><a href="about">About</a></li>
		</ul>
	</header>
	<div class="submit-form">
		<h5>Bus Schedule</h5>
			<form id="form-submit" action="/schedule" method="get">
				<fieldset>
					<label for="from">From:</label>
					<select required name='from'>
						<option value="">Select a location...</option>
						<option value="Athens">Athens</option>
                        <option value="Thessaloniki">Thessaloniki</option>
                        <option value="Arta">Arta</option>
                        <option value="Patra">Patra</option>
                        <option value="Volos">Volos</option>
					</select>
				</fieldset>			
				<fieldset>
				<label for="to">To:</label>
					<select required name='to'>
						<option value="">Select a location...</option>
						<option value="Athens">Athens</option>
                		<option value="Thessaloniki">Thessaloniki</option>
                		<option value="Arta">Arta</option>
                	    <option value="Patra">Patra</option>
                	    <option value="Volos">Volos</option>
				</select>
				</fieldset>
				<fieldset>
					<button type="submit" id="c.form-submit" class="btn">View Schedule</button>
				</fieldset>
			</form>
	</div>
    
	<% if (data && data.length){ %>
		<table>
		  <thead>
			<tr>
			  <th>From</th>
			  <th>To</th>
			  <th>Date</th>
			  <th>Departure</th>
			  <th>Arrival</th>
			  <th>Seats Available</th>
			  <th>Price</th>
			</tr>
		  </thead>
		  <tbody>
			<% data.forEach(function(row) { %>
			  <tr>
				<td><%= row.FROM_CITY %></td>
				<td><%= row.TO_CITY %></td>
				<td><%= row.DATE_T %></td>
				<td><%= row.DEPARTURE %></td>
				<td><%= row.ARRIVAL %></td>
				<td><%= row.SEATS_AVAIL %></td>
				<td><%= row.PRICE %></td>
			  </tr>
			<% }); %>
		  </tbody>
		</table>
	  <% }if (data && !data.length){ %>
		<p>No results found.</p>
	  <% } %>  
  </body>
</html>