<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The title of the webpage -->
  <title>Road Runners Bus Lines</title>
  <!-- Linking an external CSS file named "ticketstyle.css" for styling the page -->
  <link rel="stylesheet" type="text/css" href="css/ticketstyle.css">
  <!-- Linking an external CSS file named "style.css" for additional styling -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- Linking the "logo2.png" image file -->
  <link rel="icon" type="images/x-icon" href="images/logo2.png" />
  <!-- Linking an external CSS file for Font Awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <!-- Navigation Bar -->
  <header>
    <ul class="menu">
      <li><img src="images/logo.png"></li>
      <li><a href="home">Home</a></li>
      <li><a href="schedule">Schedule</a></li>
      <li><a class="active" href="book">Book</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </header>
</head>
<body>
    <!-- Display of Ticket Info -->
    <div class="ticket-header">
      <img src="images/logo2.png" alt="Icon" >
      <h1>Ticket</h1>
      <h2>Reservation Information</h2>
      <h3>Name: <%= name %></h3>
      <h3>Surname: <%= surname %></h3>
      <h3>Email: <%= email %></h3>
      <h3>From: <%= from %></h3>
      <h3>To: <%= to %></h3>
      <h3>Date: <%= new Date(date_t).toLocaleString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' }) %></h3>
      <h2>Payment Information</h2>
      <h3>Price: <%= price %></h3>
      <h3>IBAN:GR1566325441522322366611<h3>
      <h3>If you do not pay the ticket price within 24 hours from the booking your ticket will be cancelled.</h3>
      <h3>For more information contact us:
      <p><i class="fas fa-phone"></i>2104001890</p>
      <p><i class="fas fa-at"></i> roadrunner@gmail.com</p>
      <p><i class="fas fa-map-marker-alt"></i> Ermou Street Athens,Greece</p></h3>
    </div>
    <button class="btn-print" onclick="printTicket()">Print Ticket</button>
      <script>
        function printTicket() {
          // Trigger the browser's print dialog
          window.print();
          //Alert message after printing 
          setTimeout(function() {
            alert("Now that you have your Booking Info , do not foget to take this to our offices in order to pay for your trip!");
          }, 100);
        }
      </script>
</body>
</html>
